body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navBarTwo{
  background-color: #131921 !important;
}
.navBarOne{
  background-color: #232F3E !important;
}
.nav-link{
  color: white !important;
}
.nav-link:hover{
  border: 1px solid white !important;
}
.navbar-brand{
  color: #F3A847 !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
